.navh2 {
	color: white;
}
.titleFont {
	font-family: "Times New Roman", Times, serif;
}
.cardStyle {
	margin: 2%;
}

/* background image from https://www.transparenttextures.com/stucco.html */
body {
	background-image: url(http://www.transparenttextures.com/patterns/stucco.png);
	background-color: rgb(247, 247, 247);
}
.lowBorder {
	border-bottom: solid;
	border-width: 3px;
	border-color: lightgrey;
}
.navFormat {
	width: 100%;
	max-width: 980px;
}
.brandMarg {
	margin-left: 2.5%;
}

li a {
	color: grey;
}
.navHeight {
	padding-top: 0;
	padding-bottom: 0;
}
.portTitle {
	margin: 0;
	padding: 2%;
}
.portPicMarg {
	margin-top: 2%;
}
.contactCardHead {
	padding-left: 0;
	margin-bottom: 10px;
}

.portBox {
	box-sizing: content-box;
}
.carousel-caption {
	position: relative;
	left: 0;
	bottom: 60%;
}
